@import "bootstrap";

.option_button{
	margin-left: 5px;
}

.create_button{
	float: right;
	margin-right: 11px;
	margin-top: -29px;
}

.button_group{
	margin-top: 10px;
}

.gamification_fields{
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
	margin: 0 auto;
	display: table;
	margin-top: 20px;
}

.gamification_button{
	margin: 0 auto;
	display: table;
	margin-top: 30px;
}


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #607d8b;
}

.nav-pills > li > a {
  color: #607d8b;
}

.label {
  border: 1px solid #000;
	float: right;
	margin-top: -16px;
}

.label-default {
  background-color: #607d8b;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.principalSquare{
	width: 800px;
	height: 500px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #607d9b;
	position: relative;
	margin: 0 auto;
	display: table;
	margin-top: 100px;
	overflow-y: scroll;
}
.listSquare{
	width: 800px;
	height: 440px;
	margin-top: 30px;
	overflow-y: scroll;
}
.itemSquare{
	width: 400px;
	height: 100px;
	background-color: #3C3939;	
	margin-left: 25px;
	border-radius: 15px;
	color: white;
}
.purrSuitImage{
	width: 200px;
	height: 200px;
	border-radius: 40px;
	margin: 0 auto;
	display: table;
}
.gamiName{
	text-size: 16px;
	color: white;
	margin-left: 10px;
}
.pointsCircle{
	border-radius: 100%;
	background-color: #F44336;
	width: 30px;
	height: 30px;
	margin-top: -64px;
	margin-left: 350px;
}
.gamiPoints{
	font-size: 18px;
	color:white;
	margin-top: 20px;
	margin-left: 5px;
}
.gamiDescription{
	margin-left: 10px;
	margin-top: -20px;
}
.buttons{
	width: 200px;
	height: 240px;
	background-color: #607D8B;
	margin-left: 65px;
}
.button{
	width: 180px;
	height: 40px;
	border-radius: 20px;
	background-color: #F44336;
	color: white;
	font-size: 14px;
	margin: 0 auto;
	display: table;
	margin-top: 10px;
}
.title{
	color: white;
	font-size: 70px;	
	margin: 0 auto;
	display: table;
	margin-top: 70px;
}
.subtitleR{
	width:200px;
	background-color: #607D8B;
	margin-left: 65px;
}
.subtitle{
	color: white;
	margin: 0 auto;
	display: table;
}
body{
	background-color: white;
}
